<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo' : 'logo-dark'}}.png"
             alt="Quick Quiz Ninja logo" class="mr-3 mb-0 w-9rem">
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
            (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu"
         [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button class="p-link layout-topbar-button" (click)="notificationsPanel.toggleNotificationsOverlay($event)"
                pTooltip="Notifications" tooltipPosition="bottom">
            <i class="pi pi-bell" pBadge [value]="String(unseenCount)" severity="danger" *ngIf="unseenCount > 0"></i>
            <i class="pi pi-bell" *ngIf="unseenCount == 0"></i>
            <span class="lg:hidden">Notifications</span>
        </button>
        <button class="p-link layout-topbar-button" pTooltip="Account" tooltipPosition="bottom"
                [routerLink]="['/app/account']">
            <i class="pi pi-user"></i><span class="lg:hidden">Account</span>
        </button>
        <button class="p-link layout-topbar-button" (click)="onConfigButtonClick()" pTooltip="Settings"
                tooltipPosition="bottom">
            <i class="pi pi-cog"></i><span class="lg:hidden">Settings</span>
        </button>
    </div>
</div>
<app-config></app-config>
<app-notifications (notificationSeen)="onNotificationSeen($event)"></app-notifications>
