<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <a [routerLink]="['/']">
            <img
                src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo' : 'logo-dark'}}.png"
                alt="Quick Quiz Ninja logo" class="mb-5 w-17rem">
        </a>
        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full md:w-30rem surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <span class="text-600 font-medium">Enter your email address and we'll send you an email with instructions for resetting your password.</span>
                </div>

                <form #forgotPasswordForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
                    <div class="field">
                        <label for="email" class="block text-900 text-xl font-medium mb-2">Email*</label>
                        <input id="email" type="text" placeholder="Email address" pInputText class="w-full mb-5"
                               style="padding:1rem" required email name="email" [(ngModel)]="email">
                    </div>

                    <div class="field text-center">
                        <button pButton pRipple label="Request password reset" class="w-full lg:w-10 p-3 text-xl"
                                [disabled]="forgotPasswordForm.invalid"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
