<div class="grid">
    <div class="col-12">
        <div class="card px-4 py-4 flex justify-content-center" style="min-height: 80vh">
            <form #notificationForm="ngForm" (ngSubmit)="sendMessage()" novalidate class="w-6">
                <div class="field">
                    <label for="message" class="block text-900 text-lg font-medium mb-2">Message*</label>
                    <textarea pInputTextarea name="message" id="message" placeholder="Message" [(ngModel)]="message"
                              [required]="true" class="w-full"></textarea>
                </div>
                <div class="field">
                    <label for="deepLink" class="block text-900 text-lg font-medium mb-2">Deep Link</label>
                    <input pInputText name="deepLink" id="deepLink" placeholder="Deep Link" [(ngModel)]="deepLink"
                           class="w-full"/>
                </div>
                <div class="field">
                    <label for="recipients" class="block text-900 text-lg font-medium mb-2">Recipients*</label>
                    <div class="p-inputgroup">
                        <span class="p-input-icon-left w-full">
                            <i class="pi pi-search" style="z-index: 1"></i>
                            <p-autoComplete [(ngModel)]="recipients" [suggestions]="suggestions" class="w-full"
                                            (completeMethod)="searchUsers($event)" [forceSelection]="true"
                                            field="display" placeholder="Search users by name or email"
                                            [multiple]="true" [name]="'recipients'" styleClass="text-left w-full"
                                            inputStyleClass="w-full" [inputId]="'recipients'"></p-autoComplete>
                        </span>
                        <span class="p-inputgroup-addon" style="margin-left: -4px">
                            <p-checkbox [(ngModel)]="allRecipients" pTooltip="Send to all active users"
                                        name="allRecipients" [binary]="true"></p-checkbox>
                        </span>
                    </div>
                </div>
                <div class="field text-center">
                    <button pButton label="Send Message"
                            [disabled]="notificationForm.invalid || (!allRecipients && recipients.length == 0)"></button>
                </div>
            </form>
        </div>
    </div>
</div>
