<p-overlayPanel #overlayPanel styleClass="notification-panel">
    <ng-template pTemplate="content">
        <h6 *ngIf="notifications.length == 0" style="font-style: italic; text-align: center">
            You don't have any notifications
        </h6>
        <p-scroller *ngIf="notifications.length > 0" [items]="notifications" [itemSize]="50" scrollHeight="300px"
                    styleClass="border-1 surface-border"
                    [style]="{'width': '100%', 'height': '300px'}">
            <ng-template pTemplate="item" let-item let-options="options">
                <div class="flex align-items-center p-2 hoverable" (click)="markAsSeen(item)"
                     [ngClass]="{ 'surface-hover': options.odd, 'new-notification': item.seen_time == null }"
                     style="height: 75px;">
                    <div class="col-11" style="padding: 0.2rem;">
                        {{ item.content }}
                        <br/>
                        <span style="font-size: smaller; color: darkgray; padding: 0">
                            {{item.creation_time | date}}
                        </span>
                    </div>
                    <div class="col-1">
                        <i class="pi pi-circle-fill" *ngIf="item.seen_time == null"></i>
                    </div>
                </div>
            </ng-template>
        </p-scroller>
    </ng-template>
</p-overlayPanel>
